*{
    box-sizing: border-box;
    padding:0;
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

#box{
    width: 70%;
    height: 100px;
    background : #333;
    display:flex;
    justify-content:center;
    align-items:center;
    transition: 0.5s all;
}

#box h1{
    text-align: center;
    color: #fff;
}

.moved{
    transform: translateX(-200px);
    opacity: 0;
}


.card{
    width: 250px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    background : #d3d3d3;
    padding: 10px 5px0;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.5s all;
}

img{
    width: 100%;       
}

.card__img{
    width: 100%;       
}

.card__text{
    margin: 10px;
    user-select: none; /* supported by Chrome and Opera */
-webkit-user-select: none; /* Safari */
-khtml-user-select: none; /* Konqueror HTML */
-moz-user-select: none; /* Firefox */
-ms-user-select: none;
}

.card__footer{
    text-align: center;
}

