*{
    box-sizing: border-box;
    padding:0;
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items:center;
}

#box{
    width: 70%;
    height: 100px;
    background : #333;
    display:flex;
    justify-content:center;
    align-items:center;
    transition: 0.5s all;
}

#box h1{
    text-align: center;
    color: #fff;
}

.moved{
    transform: translateX(-200px);
    opacity: 0;
}






